@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-purple-300;
}

html {
  color-scheme: dark;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-gradient-to-l from-indigo-300 to-purple-400 text-white antialiased;
}

p {
  @apply pb-2;
}

a {
  @apply underline;
}
